@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400..600");

#CommandLineInterpreter {
	--cli-color-background: #235;
	--cli-color-foreground: #ccc;
	--cli-color-black: #777;
	--cli-color-red: #f22;
	--cli-color-green: #4e4;
	--cli-color-yellow: #ed2;
	--cli-color-blue: #49f;
	--cli-color-magenta: #e4e;
	--cli-color-cyan: #4de;
	--cli-color-white: #fff;
	background-color: var(--cli-color-background);
	border: 0.5em solid var(--cli-color-background);
	border-right-width: 0;
	color: var(--cli-color-foreground);
	font-family: "Roboto Mono", monospace;
	font-weight: 400;
	line-height: 1.4em;
	margin: 0;
	max-height: 100%;
	height: 100%;
	overflow-y: scroll;
	box-sizing: border-box;
	cursor: text;
	white-space: pre-wrap;
}
#CommandLineInterpreter a:hover {
	color: var(--cli-color-white);
	text-decoration: underline;
	cursor: pointer;
}
#CommandLineInterpreter b {
	font-weight: 600;
	font-style: normal;
}
#CommandLineInterpreter code {
	color: #d8d8d8;
	background-color: #3e4d69;
	border-radius: 0.3em;
	padding: 0 0.2em;
	margin: 0 -0.2em;
}
