@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..700&display=swap");

#CommandLineInterpreter {
	background-color: #235;
	color: #ccc;
	font-family: "Azeret Mono";
	font-size: 14px;
	line-height: 1.5em;
	margin: 0;
	padding: 0.5em;
	max-height: 100%;
	height: 100%;
	overflow-y: scroll;
	box-sizing: border-box;
	cursor: text;
}

#CommandLineInterpreter em {
	font-weight: bold;
	font-style: normal;
}

#CommandLineInterpreter code {
	color: #bbd;
	background-color: #457;
	border-radius: 0.3em;
	padding: 0 0.2em;
}
