.commandlineinterpreter {
	--cli-color-background: #f4f4f4;
	--cli-color-foreground: #228;
	--cli-color-black: #333;
	--cli-color-red: #f22;
	--cli-color-green: #009a28;
	--cli-color-yellow: #baab07;
	--cli-color-blue: #46f;
	--cli-color-magenta: #e4e;
	--cli-color-cyan: #32a7ba;
	--cli-color-white: #9f9fc0;
	background-color: var(--cli-color-background);
	color: var(--cli-color-foreground);
	font-family: monospace;
	margin: 0;
	height: 100%;
	max-height: 100%;
	overflow-y: scroll;
	white-space: pre-wrap;
	box-sizing: border-box;
	cursor: text;
}
.commandlineinterpreter span.input {
	word-break: break-all;
	min-height: 1em;
}
.commandlineinterpreter a {
	text-decoration: underline;
	cursor: pointer;
}
.commandlineinterpreter a:hover {
	color: #00f;
}
.commandlineinterpreter code {
	color: inherit;
	background-color: #ededed;
	border-radius: 0.3em;
	padding: 0 0.2em;
	border: 1px solid #ccc;
	margin: 0 -0.2em;
}
