@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=VT323&display=swap");

.commandlineinterpreter {
	--cli-color-background: #300a24;
	--cli-color-foreground: #eeeeec;
	--cli-color-black: #555753;
	--cli-color-red: #ef2929;
	--cli-color-green: #8ae234;
	--cli-color-yellow: #fce94f;
	--cli-color-blue: #729fcf;
	--cli-color-magenta: #ad7fa8;
	--cli-color-cyan: #34e2e2;
	--cli-color-white: #fff;
	background-color: var(--cli-color-background);
	color: var(--cli-color-foreground);
	font-family: "Ubuntu Mono", monospace;
	margin: 0;
	height: 100%;
	max-height: 100%;
	overflow-y: scroll;
	white-space: pre-wrap;
	box-sizing: border-box;
	cursor: text;
}
.commandlineinterpreter span.input {
	word-break: break-all;
}
.commandlineinterpreter a {
	text-decoration: underline;
	cursor: pointer;
}
.commandlineinterpreter a:hover {
	color: var(--cli-color-magenta);
	min-height: 1em;
}
.commandlineinterpreter code {
	color: #d3d7cf;
	background-color: #503045;
	border: 1px solid #afa2a9;
	border-radius: 0.2em;
	padding: 0 0.2em;
	margin: 0 -0.2em;
}
